{% extends "layout.html" %}
{% block content %}

<!--<input type="text" placeholder="dd/mm/yyyy"--> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            
            <div class="form-group">
                    {{ form.exp.label(class="form-control-label") }}
                                        
                        {% if form.exp.errors %}
                            {{ form.exp(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.exp.errors %}
                                    <span>{{ error }}</span>
                                            {% endfor %}
                            </div>
                         {% else %}
                                {{ form.exp(class="form-control form-control-lg") }}
                        {% endif %}
            </div>
            <div class="form-group">
                    {{ form.amt22.label(class="form-control-label") }}
                                        
                        {% if form.amt22.errors %}
                            {{ form.amt22(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.amt22.errors %}
                                    <span>{{ error }}</span>
                                            {% endfor %}
                            </div>
                         {% else %}
                                {{ form.amt22(class="form-control form-control-lg") }}
                        {% endif %}
            </div>
            <div class="form-group">
                    {{ form.bill.label(class="form-control-label") }}
                                        
                        {% if form.bill.errors %}
                            {{ form.bill(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.bill.errors %}
                                    <span>{{ error }}</span>
                                            {% endfor %}
                            </div>
                         {% else %}
                                {{ form.bill(class="form-control form-control-lg") }}
                        {% endif %}
            </div>
            
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#datepick').datetimepicker();
    });
  </script>
{% endblock %}
